{% extends "base.html" %}

{% block style %}{% endblock style %}

{% block main %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>User Management</h1>
            <input type="text" id="myInput" onkeyup="search()" placeholder="Search user with email" class="form-control">
            <table class="table table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Type of user</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{% if user.is_inspector %}Inspector {% elif user.is_superuser %}Admin {% else %} User{% endif %}</td>
                        <td><a href="/accounts/manage_users/{{user.id}}/" class="btn btn-info btn-sm">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    function search() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>

{% endblock main %}