{% extends "base.html" %}

{% block style %}{% endblock style %}

{% block main %}

<div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the Public Safety Reporting Platform!</h1>
      <p class="lead">Our platform is dedicated to promoting public safety, empowering communities, and fostering collaboration between citizens, law enforcement agencies, and other stakeholders.</p>
      <hr class="my-4">
      <p>Designed and developed by a team of dedicated professionals, the Public Safety Reporting Platform provides a user-friendly interface for reporting safety incidents, accessing educational resources, and engaging with local authorities.</p>
      <p>At the heart of our platform is a commitment to transparency, accountability, and community well-being. We believe that by harnessing the power of technology, we can create safer and more resilient communities for everyone.</p>
      <p>With features such as incident reporting, real-time tracking, data analytics, and community engagement initiatives, the Public Safety Reporting Platform serves as a comprehensive solution for addressing safety concerns and promoting public safety initiatives.</p>
      <p>Join us in our mission to make our neighborhoods safer and more secure. Together, we can create a brighter and safer future for everyone.</p>
      <a class="btn btn-primary btn-lg" href="/accounts/newuser/" role="button">Sign Up</a>
    </div>
  </div>

{% endblock main %}