{% extends "base.html" %}

{% block style %}
<style>
  table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
</style>
{% endblock style %}
{% load static %}
{% block main %}
<div class="container mt-5">
    <h1 class="mb-4">Welcome to Public Safety Reporting Platform Support Page</h1>

    <h3 id="getting-started">Getting Started</h3>
    <p>Include your Getting Started guide content <a href="{% static "documentation.pdf" %}"> here...</a>  </p>

    <h3 id="support-contact">Support Contact Information</h3>
    <p>Email: <a href="mailto:ryadav@gitam.in">ryadav@gitam.in</a></p>
    <p>Phone: <a href="tel:+918688601351">+91 8688601351</a></p>
    <p>Live Chat: Our live chat support is available during business hours. Click on the chat icon at the bottom right corner of the screen to initiate a conversation with one of our support representatives.</p>

    <h3>Community Resources</h3>
    <p>Forums: Join our community forums to connect with other users, share tips and tricks, and get help from experienced users and moderators.</p>
    <p>Social Media: Follow us on [Facebook/Twitter/LinkedIn/etc.] for product updates, news, and announcements.</p>

    <h3>Feedback</h3>
    <p>We value your feedback! If you have any suggestions for improving Public Safety Reporting Platform or if you encounter any issues, please let us know by reaching out to our support team or using our feedback form.</p>
  </div>


<h2>Emergency Numbers</h2>
<div class="d-flex justify-content-center">

<table class="table">
  <tr>
      <th>Service</th>
      <th>Number</th>
  </tr>
  <tr>
      <td>EMRI</td>
      <td>108</td>
  </tr>
  <tr>
      <td>Police</td>
      <td>112</td>
  </tr>
  <tr>
      <td>Fire</td>
      <td>101</td>
  </tr>
  <tr>
      <td>Crime Stopper</td>
      <td>1090</td>
  </tr>
  <tr>
      <td>Crime Against Women and Children</td>
      <td>1091</td>
  </tr>
  <tr>
      <td>Traffic Help</td>
      <td>1073</td>
  </tr>
  <tr>
      <td>Electricity Complaint</td>
      <td>155333</td>
  </tr>
  <tr>
      <td>Water Supply</td>
      <td>155313</td>
  </tr>
  <tr>
      <td>Railway Enquiry</td>
      <td>131/135</td>
  </tr>
  <tr>
      <td>Railway Reservation</td>
      <td>139</td>
  </tr>
  <tr>
      <td>Free Service Ambulance</td>
      <td>102</td>
  </tr>
  <tr>
      <td>Govt General Hospital, Vijayawada</td>
      <td>0866-2452244/2452844</td>
  </tr>
  <tr>
      <td>King George hospital, Vizag</td>
      <td>2564891</td>
  </tr>
  <tr>
      <td>ESI Hospital, Vijayawada</td>
      <td>0866 245 0279</td>
  </tr>
  <tr>
      <td>ESI Hospital, Vizag</td>
      <td>25771195</td>
  </tr>
  <tr>
      <td>Collectorate, Vijayawada</td>
      <td>0866-2478090/2576217</td>
  </tr>
  <tr>
      <td>Collectorate, Visakhapatnam</td>
      <td>0891-2563121</td>
  </tr>
  <tr>
      <td>Govt General Hospital, Kurnool</td>
      <td>08518-255102/255160</td>
  </tr>
  <tr>
      <td>Collectorate, Kurnool</td>
      <td>08518-220396/221914</td>
  </tr>
  <tr>
      <td>SVIMS, Tirupthi</td>
      <td>0877-2287777</td>
  </tr>
  <tr>
      <td>Collectorate, Chittor</td>
      <td>08572-241200</td>
  </tr>
  <tr>
      <td>Arogyasri</td>
      <td>104</td>
  </tr>
  <tr>
      <td>Voter Enrolement</td>
      <td>1950</td>
  </tr>
  <tr>
      <td>BSNL</td>
      <td>198</td>
  </tr>
</table>

</div>
  
{% endblock main %}